@model CartViewModel

@{
    ViewData["Title"] = "Add to Cart";
}

<h2>Add Part to Cart</h2>

<form method="post">
    <div class="form-group">
        <label for="PartName">Part Name</label>
        <input type="text" class="form-control" id="PartName" value="@Model.PartName" readonly />
    </div>

    <div class="form-group">
        <label for="Quantity">Quantity</label>
        <input type="number" class="form-control" id="Quantity" name="Quantity" value="@Model.Quantity" min="1" />
    </div>

    <div class="form-group">
        <label for="Price">Price</label>
        <input type="text" class="form-control" id="Price" value="@Model.Price" readonly />
    </div>

    <button type="submit" class="btn btn-dark">Add to Cart</button>
</form>

