
@model PartViewModel
@* @inject IUnitOfWork unitOfwork
@{
    var Models = new SelectList(unitOfwork.Repository<Model>().GetAll(), "Id", "Name");
}
 *@
@{
    ViewData["Title"] = "Create Service";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h1>Create New part</h1>

<form asp-controller="Parts" asp-action="Create" method="post">

    <div class="mb-3">
        <label asp-for="PartName" class="form-label"></label>
        <input class="form-control" asp-for="PartName" />
        <span asp-validation-for="PartName" class="text-danger"></span>
    </div>

    @* <div class="form-group">
        <label class="form-label" asp-for="ModelId"></label>
        <select asp-for="ModelId" asp-items="Models" class="form-control" >
            <option value="@null"> -- Select Model -- </option>
        </select>
        <span asp-validation-for="ModelId" class="text-danger"></span>
    </div> *@

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input class="form-control" asp-for="Price" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>



    <div class="mb-3">
        <label asp-for="PartKilometresToChange" class="form-label"></label>
        <input class="form-control" asp-for="PartKilometresToChange" />
        <span asp-validation-for="PartKilometresToChange" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input class="form-control" asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>


    <input type="submit" class="btn btn-dark" value="Create" />
    <a asp-controller="parts" asp-action="Index" class="btn btn-dark">Back To List</a>

</form>
