@{
    ViewData["Title"] = "Appointment";
}

<h1>Appointment</h1>
<br />
<br />
<br /> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>MENU</title>
</head>

<body style="background: linear-gradient(90deg, rgba(4,5,5,1) 10%, rgba(62,74,74,1) 40%, rgba(62,74,74,1) 60%, rgba(0,0,0,1) 90%);">
    <div style=" box-shadow: rgba(4,5,5,1) 10% ;border: solid; text-align: center; width: 40%; margin: auto; border-radius: 0px 100px 0px 100px; padding: 15px; background-color: #dadada;">
    <h3>
        Make Your Appointment
    </h3>

    <br>
    <div style="display: flex; align-items: center;">
        <div style="width: 20%;align-items: center;"><label for="">Name</label></div>
            <div style="width: 80%;"><input type="text" placeholder="Name" style=" width: 70% ;border: solid; border-radius: 20px; padding: 10px; box-shadow: 2px 3px 10px rgba(4,5,5,1) 10%;"></div>
    </div>

    <br>
    <br>

    <div style="display: flex; align-items: center; ">
        <div style="width: 20%;"><label for="">Phone</label></div>
            <div style="width: 80%;"><input type="text" placeholder="Phone Number" style=" width: 70% ;border: solid; border-radius: 20px; padding: 10px; box-shadow: 2px 3px 10px rgba(4,5,5,1) 10%;"></div>
    </div>

    <br>
    <br>

    <div style="display: flex;">
        <div style="width: 20%; align-items: center; "><label for="">Location</label></div>
            <div style="width: 80%;"><input type="text" placeholder="Location" style="  width: 70% ;border: solid; border-radius: 20px; padding: 10px; box-shadow: 2px 3px 10px rgba(4,5,5,1) 10%;"></div>
    </div>

    <br>
    <br>

    <div style="display: flex; align-items: center;">
        <div style="width: 20%;"><label for="">Order</label></div>
        <div style="width: 80%;">
            <textarea placeholder="Order"
                          style=" width: 70% ;border: solid; border-radius: 20px; padding: 10px; box-shadow: 2px 3px 10px rgba(4,5,5,1) 10%;"></textarea>
        </div>
    </div>

    <br>
    <br>

    <div style="display: flex; align-items: center;">
        <div style="width: 20%;"></div>
            <div style="width: 80%;"><input type="submit" value="order now" style=" width: 80% ;background-color: rgba(2,2,2,1) 10% ; border: solid; border-radius: 20px; padding: 10px; box-shadow: 10px 10px 10px grey ; "></div>
    </div>
</div>
</body>
</html>


